
body { background-image: url("background.jpg"); background-size:cover; position: relative;  left:30%; overflow:hidden  }

p {  color: white; font-family:sans-serif; margin: 1px; }

label { font-size:larger; color: white; font-family:sans-serif; }

#maintitle {  font-family: sans-serif; font-size:30px;  color:rgb(37, 224, 37); }

#navbox { background-color: rgb(37, 224, 37); width:1225px; padding:12px; background-repeat: no-repeat; border-radius: 1px; }

.divbg { background-color: rgba(0, 0, 0, 0.5); width: 1250px; height:800px; position:relative; right:16%; padding:50px; top:55px; border-radius: 7px;}

.statocarica { height:30px; margin-left: 0%; border-radius: 5px; border:0px; }



    


   
